.container{
  display: flex;
  align-items: center;
  gap: 100px;
}

.item{
  flex: 1;
  /* with flex 1 all the .item will take equal width similar to grid */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 50px;
}

.img{
  width: 100%;
  height: 600px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;

}

@keyframes move{
    from{
        transform: translateY(-10px);
    }
    to
    {
        transform: translateY(0px);
    }

  }

.title{
  font-size: 72px;
  background: linear-gradient(to bottom,#194c33,#bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc{
  font-size: 24px;
  font-weight: 300;
}

.button{
  padding: 20px;
  cursor: pointer;
  background: #194c33;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  width: max-content;
}