.container{
    height:50px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
   
} 

.social{
    display: flex;
    gap: 20px;
}

.icon{
    opacity: 0.6;
    cursor: pointer;
    border-radius: 50%;
}